@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 0.5rem;
  height: 0.75rem;
  width: 0.75rem;

  @apply bg-green-500
}